.button.dpd-big-button {
	float: right;
}

.dpd-big-single-button label {
	float: left;
	display: inline-block;
	line-height: 28px;
	padding: 0 0 0 24px;
	background: url(dpd-logo.svg) no-repeat left center;
}

.dpd-big-single-button a {
	float: right !important;
}

.widefat a.button.dpd-small-button {
  position: relative;
  width: 2em;
  height: 2em;
  border-color: #DC0032;
  background: #FCE5EA;
}

.widefat a.button.dpd-small-button:focus {
	box-shadow: 0 0 0 1px #DC0032;
}

.widefat .column-wc_actions a.button.dpd-small-button img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 0;
	transform: translate(-50%, -50%);
	object-fit: contain;
	width: 16px;
	height: 20px;
	display: block;
}
